.content {
  background-color: rgba(18, 29, 57, 1);
  padding: 0 20px 20px;
  overflow: hidden;
}

.content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.content header div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  padding: 10px;

  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(23, 38, 76, 0.5);
}

.content header .nav-items a {
  margin: 0 20px;
  color: #fff;
  text-decoration: none;
}

hr {
  margin: 30px auto;
  width: 95%;
}
